<?xml version="1.0"?>
<!--
/**
 * @category   MagentoPycho
 * @package    MagentoPycho_Lightboxes
 * @author     magepsycho@gmail.com
 * @website    http://www.magepsycho.com
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
 -->
<config>
    <modules>
        <MagentoPycho_Lightboxes>
            <version>1.1.0</version>
        </MagentoPycho_Lightboxes>
    </modules>
    <global>
        <models>
            <lightboxes>
                <class>MagentoPycho_Lightboxes_Model</class>
            </lightboxes>
        </models>
        <blocks>
            <lightboxes>
                <class>MagentoPycho_Lightboxes_Block</class>
            </lightboxes>
        <!--<catalog>
			<rewrite>
				<product_view_media>MagentoPycho_Lightboxes_Block_Media</product_view_media>
			</rewrite>
	    </catalog>-->
        </blocks>
        <helpers>
            <lightboxes>
                <class>MagentoPycho_Lightboxes_Helper</class>
            </lightboxes>
        </helpers>
    </global>
    <frontend>
        <routers>
            <lightboxes>
                <use>standard</use>
                <args>
                    <module>MagentoPycho_Lightboxes</module>
                    <frontName>lightboxes</frontName>
                </args>
            </lightboxes>
        </routers>
        <layout>
			<updates>
				<lightboxes>
					<file>lightboxes.xml</file>
				</lightboxes>
			</updates>
		</layout>
    </frontend>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <magepychoinfo>
											<title>MagePsycho - All</title>
										</magepychoinfo>
                                        <lightboxes>
                                            <title>jQuery Lightboxes</title>
                                        </lightboxes>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <default>
        <lightboxes>
            <option>
				<active>1</active>
                <include_jquery>1</include_jquery>
                <lightbox_type>fancybox</lightbox_type>
                <include_globally>0</include_globally>
				<disable_zoombar>1</disable_zoombar>
            </option>
			<lightboxes_confliction>
				<include_jquery>1</include_jquery>
				<include_jquery_from>local</include_jquery_from>
				<include_jquery_in>head</include_jquery_in>
				<include_lighboxes_in>head</include_lighboxes_in>
				<include_initialization_in>media</include_initialization_in>
			</lightboxes_confliction>
            <fancybox>
                <padding>10</padding>
                <margin>20</margin>
                <scrolling>auto</scrolling>
                <autoScale>1</autoScale>
                <titlePosition>outside</titlePosition>
                <transitionIn>elastic</transitionIn>
                <transitionOut>elastic</transitionOut>
                <!--<easingIn>easeOutBack</easingIn>
                <easingOut>easeInBack</easingOut>-->
                <hideOnOverlayClick>1</hideOnOverlayClick>
                <overlayShow>1</overlayShow>
                <overlayOpacity>0.3</overlayOpacity>
                <overlayColor>#666</overlayColor>
                <titleShow>1</titleShow>
                <showCloseButton>1</showCloseButton>
                <showNavArrows>1</showNavArrows>
                <enableEscapeButton>1</enableEscapeButton>
            </fancybox>
            <lightboxclone>
                <overlayBgColor>#000</overlayBgColor>
                <overlayOpacity>0.8</overlayOpacity>
                <containerBorderSize>10</containerBorderSize>
                <containerResizeSpeed>400</containerResizeSpeed>
                <txtImage>Image</txtImage>
                <txtOf>of</txtOf>
            </lightboxclone>
            <pirobox>
                <theme>demo4</theme>
                <my_speed>300</my_speed>
                <bg_alpha>0.5</bg_alpha>
                <slideShow>1</slideShow>
                <slideSpeed>3</slideSpeed>
            </pirobox>
        </lightboxes>
    </default>
</config>